.header {
  display: flex;
  align-items: baseline;
  position: fixed;
  width: 1184px;
  height: 124px;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  width: 472px;
  height: 66px;
}

.hTitle {
  font-family: 'ethnocentric';
  font-size: 40px;
  color: #FBE1E8;
  width: 379px;
  height: 44px;
  margin-left: 10px;
}

.hSubtitle {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: lighter;
  font-size: 18px;
  color: #FBE1E8;
  width: 472px;
  height: 22px;
  margin-left: 10px;
}

.navLinks {
  display: flex;
  align-items: center;
  gap: 45px;
  margin-left: 650px;
  margin-top: 41px;
}

.navLinks a {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 350;
  font-size: 22px;
  color: #FBE1E8;
  text-decoration: none;
}

.navLinks a.about {
  width: 62px;
  height: 22px;
}

.navLinks a.projects {
  width: 83px;
  height: 22px;
}

.navLinks a.guest-book {
  width: 123px;
  height: 22px;
}

.navLinks a.information {
  width: 121px;
  height: 22px;
}