.header {
    display: flex;
    justify-content: flex-start;
    align-items: baseline; 
    margin-left: 58px;
    margin-top: 43px;
    position: fixed;
    width: 100%;
  }
  
  .logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
  }
  
  .header-content {
    display: flex; 
    align-items: center;
  }
  
  .title {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: regular;
    font-size: 40px;
    color: #FBE1E8;
    max-width: 229px; 
    max-height: 44px;
  }
  
  .subtitle {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: lighter;
    font-size: 18px; 
    color: #FBE1E8;
    max-width: 256px; 
    max-height: 44px;
    margin-left: 10px;
  }
  
  .nav-links {
    display: flex;
    align-items: baseline; 
    gap: 50px; 
    margin-left: 98px;
  }
  
  .nav-links a {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: regular;
    font-size: 22px;
    color: #FBE1E8;
    text-decoration: none;
  }
  
