body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #131417;
    font-family: "Noto Sans KR", sans-serif;
    color: #FBE1E8;
}

.App {
    height: 100vh;
    width: 100vw;
    padding: 48px 43px;
    box-sizing: border-box;
    display: flex;
}

