:root {
    --vh: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #131417;
    font-family: "Noto Sans KR", sans-serif;
    color: #FBE1E8;
}

.App {
    height: 100vh;
    width: 100vw;
    padding: 48px 43px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-direction: column;
    overflow-x: clip;
}

.MobileApp {
    height: calc(var(--vh, 1vh) * 100);
    padding: 28px 23px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow-x: clip;
}